<div id="leftcolumnall">
  <h1>Listing Exhibitors</h1>

  <table id="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Exhibitor category</th>
      <th>Is a Sponsor?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @exhibitors.each do |exhibitor| %>
    <tr>
      <td><%= exhibitor.name %></td>
      <td><%= exhibitor.description %></td>
      <td><%= exhibitor.exhibitorcategory.name %></td>
      <td><%= exhibitor.sponsor ? "Yes" : "No" %></td>
      <td><%= link_to 'Show', exhibitor %></td>
      <td><%= link_to 'Edit', edit_exhibitor_path(exhibitor) %></td>
      <td><%= link_to 'Destroy', exhibitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Exhibitor', new_exhibitor_path %>
</div>